@{
    ViewData["Title"] = "Upload Page";
}
@model TransactionUploader.WebApp.Models.UploadViewModel

<div class="text-center">
    <h1 class="display-4">Upload File</h1>
</div>


@await Component.InvokeAsync("Upload")

@section Scripts
{
    <script src="~/js/transactions-upload.js"></script>
}
